/*DESIGN MOBILE VIEW at 430px*/
body{
    font-family: "Poppins", serif;
    font-size:16px;
}
button{
    font-size:16px;
}
/*skip to content*/
a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -60px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus {
    top: 20px;
    color: black;
    text-decoration-style: solid;
}

/*HEADERRRR -----------------------------*/
/*design navigation tab*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding:3%;
}
a{
    text-decoration: none;
    color: black;
}
.active{
    font-weight: bold;
}
.nav_tab{
    display:none;
    background-color:pink;

}
.icon {
    display: block;
}

/*deals with the dark and light mode*/ 
.dark_mode{
    display:none;
}
.light_mode{
    display: block;
}
/*---------------------------------------*/

/*INTRO----------------------------------*/
.intro{
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-bottom:5%;
}
h1{
    font-size: 28px;
}
.top{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:2%;
    font-weight: bold;

}
.top img{
    width:9%;
    height: auto;
}
img{
    max-width:100%;
}
.profile_pic{
    padding-right:4%;
}
/*----------------------------------------*/

/*ACCESS INFO-----------------------------*/
.access_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 2%;
    margin-bottom:5%;
}
.access_info button {
    text-align: center;
    width: 75%;
    height: 200%;
    background-color: pink;
    border-radius: 30%;
    border: 2px dashed rgb(255, 159, 175);

}
/*----------------------------------------*/

/*RECENT PROJ-----------------------------*/
.recent_proj{
    background-color: pink;
}
h2{
    margin-left:3%;
    font-size:24px;
    text-align: center;
}
.numbers{
    border: 3px solid pink;
    padding-left:3%;
    padding-right:3%;
    border-radius: 30%;
    margin-left:2%;
}
h3{
    display:inline;
    font-size:18px;
}
#proj1_prof, #proj2_prof, #proj3_prof {
    background-color: whitesmoke;
    border-radius: 28%;
    margin:2%;
    padding: 2%;

}
#proj1_prof p{
    text-align: center;
}

#proj2_prof p{
    text-align: center;
}

#proj3_prof p{
    text-align: center;
}

#button_align{
    margin-top: 3%;
    position: relative;
    padding-left:56%;
    margin-bottom: 5%;
    padding-bottom: 2%;

}
#button_align button{
    text-align: center;
    width: 75%;
    height: 200%;
    background-color: white;
    border-radius: 30%;
    border: 2px dashed rgb(248, 134, 153);
}

/*----------------------------------------*/

/*CONTACT ME-----------------------------*/
.contact_me{
    background-color:pink;
    color:black;
}
/*----------------------------------------*/

@media only screen and (min-width: 750px) {
    body{
        font-size: 16px;
    }
    button{
        font-size:16px;
    }
    h1{
        font-size:34px;
    }
    h2{
        margin-left:3%;
        font-size:28px;
    }
    h3{
        display:inline;
        font-size:24px;
        text-align: center;
    }
    /*INTRO-----------------------------*/
    .intro{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .top{
        grid-column: 1/span 3;
        display: inline-flexbox;
    }
    .top img{
        width:14%;
    }
    /*----------------------------------------*/
    /*RECENT PROJ-----------------------------*/
    #proj1_prof{
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
                justify-content: center;

    }
    #proj2_prof{
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;

    }
    #proj3_prof{
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
    /*----------------------------------------*/

        
}


@media only screen and (min-width: 1100px) {
    body{
        font-size: 16px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size:32px;
        text-align: center;
        border: 2px dashed pink;
        margin-right:10%;
    }
    h3{
        font-size:22px;
    }
    button{
        font-size: 18px;
    }
    p{
        font-size:16px;
    }
    /*show the navigation tab*/
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color:red;
        font-size: 18px;
        text-decoration: underline;

    }
   
    header{
        display:grid;
        grid-template-columns: 1fr 1fr;
        background-color: pink;
    }
    .align_together_nav{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: pink;
    }
    .nav_tab{
        display: flex;
        flex-wrap: nowrap;
        background-color: pink;
    }
    .nav_tab li{
        padding-left:9%;
    }
    .open_nav {
        display: none;
    }
}