body {
    font-size: 24px;
    font-family: "Poppins", serif;
}

button {
    font-family: "Poppins", serif;
    font-size: 20px;
    border-radius: 25%;
}

a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus {
    top: 20px;
    color: black;
    text-decoration-style: solid;
}

header {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    padding: 2%;
}

header h1 {
    font-size: 30px;
}

.nav_tab ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

a {
    text-decoration: none;
    color:black
}

.access_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 5%;
}

.access_info button {
    width: 50%;
    height: 500%;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 50px;
}

.idk{
    grid-column: 1/span 4;
    font-size: 60px;
    padding-bottom: 60px;
}
.idk img{
    width:9%;
    height: auto;

    position: absolute;
    top: 13%;
    left: 62%;
    z-index: 1;

}
.profile_pic{
    width: 100%;
    height: auto;
}

.intro p {
    grid-column: 2/4;
    text-align: center;
    padding: 5%;
}

.recent_proj {
    padding: 5%;
}

#proj1_prof{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
#proj2_prof{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2%;
}
#proj3_prof{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2%;
}

#button_align{
    margin: 0;
    position: absolute;
    left:72%;
}

.contact_me {
    padding: 5%;
    background-color: pink;
}
