/*DESIGN MOBILE VIEW at 430px*/
body {
    font-family: "Poppins", serif;
    font-size: 16px;
}

button {
    font-size: 16px;
}

/*skip to content*/
a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -60px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus {
    top: 20px;
    color: black;
    text-decoration-style: solid;
}
/*HEADERRRR -----------------------------*/
/*design navigation tab*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding:3%;
}
a{
    text-decoration: none;
    color: black;
}
.active{
    font-weight: bold;
}
.nav_tab{
    display:none;
    background-color:pink;

}
.icon {
    display: block;
}
/*deals with the dark and light mode*/ 
.dark_mode{
    display:none;
}
.light_mode{
    display: block;
}
/*---------------------------------------*/

/*design navigation tab*/

/*CSS for Flex-box*/
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: 10px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
}

.flip-box-back {
    background-color: rgb(247, 169, 182);
    color: white;
    transform: rotateY(180deg);
}

/* end  */
/*grid box*/
img {
    width: 100%;
    height: 100%;
}

.grid-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.craft_fair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

video {
    width: 100%;
    height: 50%;
}
.introduction{
    text-align: center;
}

@media only screen and (min-width: 750px) {
    body {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        margin-left: 3%;
        font-size: 28px;
    }

    h3 {
        display: inline;
        font-size: 24px;
    }

}


@media only screen and (min-width: 1100px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
        text-align: center;
        border: 2px dashed pink;
        margin-right: 10%;
    }

    h3 {
        font-size: 22px;
    }

    button {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    /*show the navigation tab*/
    a {
        text-decoration: none;
        color: black;
    }

    a:hover{
        color:red;
        font-size: 18px;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .align_together_nav {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: white;
    }

    .nav_tab {
        display: flex;
        flex-wrap: nowrap;
        background-color: white;
    }

    .nav_tab li {
        padding-left: 9%;
    }
    .nav_color{
        color:black;
    }

    .icon {
        display: none;
    }
    .open_nav {
        display: none;
    }
}