/* INTRO */
#intro {
    background-color:pink;
    background-image: url('../images/backgroun_studio.jpeg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    top: -50px;
    position: relative;
    color: black;
}

#my_name {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 111px;
    text-align: center;
}

#description {
    font-family: "Jersey 20", sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10%;
}

.arrow {
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

/*----------------------------------*/
.profile_pic {
    width: 50%;
    height: 100%;
    border: 7px solid pink;
    border-radius: 3px;
}

#more_info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.interest {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.interest a{
    text-decoration: none;
    color:black;
}

.in_design {
    background-color: pink;
    border-radius: 4px;
    padding: 4px;
    margin-left: 4%;
    font-size: 18px;
    margin-bottom: 4%;
}

.cutie_strength {
    display: inline-flex;
    align-items: flex-end;
    margin-bottom: 3%;
}

.cutie_strength img {
    width: 100px;
}
#resume{
    margin-bottom: 10%;
    text-decoration: none;
    color: black;
    background-color: pink;
    border-radius: 4px;
    padding: 4px;
    font-size: 18px;
}
img{
    margin-top: 2%;
}